<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guy.inventory">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".InventoryApp"
        android:allowBackup="true"
        android:icon="@drawable/diamond_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activities.NewSaleSortActivity"></activity>
        <activity android:name=".Activities.TableSortHistoryActivity" />
        <activity android:name=".Activities.EditSortActivity" />
        <activity android:name=".Activities.NewSortActivity" />
        <activity android:name=".Activities.TableSortingActivity" />
        <activity android:name=".Activities.DoneActivity" />
        <activity android:name=".Activities.EditClientActivity" />
        <activity android:name=".Activities.TableClientActivity" />
        <activity android:name=".Activities.NewClientActivity" />
        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name=".Activities.EditSaleActivity" />
        <activity android:name=".Activities.EditBuyActivity" />
        <activity android:name=".Activities.TableSaleActivity" />
        <activity android:name=".Activities.TableBuyActivity" />
        <activity android:name=".Activities.BalanceActivity" />
        <activity android:name=".Activities.NewSaleActivity" />
        <activity android:name=".Activities.NewBuyActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>