<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guy.inventory">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Activities.InventoryApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activities.SummaryActivities.WageSummary"></activity>
        <activity android:name=".Activities.SummaryActivities.SaleSummary" />
        <activity android:name=".Activities.SummaryActivities.BuySummary" />
        <activity android:name=".Activities.EditActivities.EditSupplier" />
        <activity android:name=".Activities.EditActivities.EditClient" />
        <activity android:name=".Activities.TableActivities.ClientTable" />
        <activity android:name=".Activities.NewActivities.NewClient" />
        <activity android:name=".Activities.TableActivities.SupplierTable" />
        <activity android:name=".Activities.NewActivities.NewSupplier" />
        <activity android:name=".Activities.Register" />
        <activity android:name=".Activities.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.EditActivities.EditSale" />
        <activity android:name=".Activities.EditActivities.EditBuy" />
        <activity android:name=".Activities.TableActivities.SalesTable" />
        <activity android:name=".Activities.TableActivities.BuysTable" />
        <activity android:name=".Activities.SummaryActivities.Summary" />
        <activity android:name=".Activities.NewActivities.NewSale" />
        <activity android:name=".Activities.NewActivities.NewBuy" />
        <activity android:name=".Activities.MainActivity" />
    </application>

</manifest>